<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Financas</title>

	<link rel="stylesheet" type="text/css" href="/css/vendors.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/algaworks.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/application.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>		

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
<div class="aw-layout-page">
	<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
		<div class="container-fluid">

	    <div class="navbar-header">
	     	<a class="navbar-brand  hidden-xs" href="#">
	        	<img alt="Financas" src="/images/logo-algaworks.png"/>
	      	</a>

	      	<ul class="nav  navbar-nav">
	        	<li>
	          		<a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
	        	</li>
	      	</ul>
	    </div>

	    <ul class="nav navbar-nav  navbar-right">
	    	<li>
	        	<a href="#"><em class="fa  fa-sign-out"></em></a>
	      	</li> 
	    </ul>

	  </div>
	</nav>
	
	<aside class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">

	    	<nav class="aw-menu  js-menu">
	      		<ul class="aw-menu__list">
	
	        		<li class="aw-menu__item">
	          			<a href="dashboard.html"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
	        		</li>
	
	        		<li class="aw-menu__item  is-active">
	          			<a href="#">
	            			<i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
	            			<i class="aw-menu__navigation-icon  fa"></i>
	          			</a>
	      
	          			<ul class="aw-menu__list  aw-menu__list--sublist">
				            <li class="aw-menu__item  aw-menu__item--link"><a href="http://localhost:8080/empresas/novo">Cadastro de empresa</a></li>
				            <li class="aw-menu__item  aw-menu__item--link  is-active"><a href="PesquisaEmpresa.html">Pesquisa de empresa</a></li>
	          			</ul>
	        		</li>
	
	        		<li class="aw-menu__item  is-expanded">
	          			<a href="#">
	            			<i class="fa  fa-fw  fa-file-text"></i><span>Páginas comuns</span>
	            			<i class="aw-menu__navigation-icon  fa"></i>
	          			</a>
	
	          			<ul class="aw-menu__list  aw-menu__list--sublist">
				            <li class="aw-menu__item  aw-menu__item--link"><a href="pagina-vazia.html">Página vazia</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a href="login.html">Login</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a href="esqueceu-a-senha.html">Esqueceu a senha</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a href="403.html">403</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a href="404.html">404</a></li>
				            <li class="aw-menu__item  aw-menu__item--link"><a href="500.html">500</a></li>
	          			</ul>
	        		</li>
	
	      		</ul>
	    	</nav>
		</div>
	</aside>
	
	<section class="aw-layout-content  js-content">
	
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de Empresa
				</h1>
				
				<div class="aw-page-header-controls">
					<a class="btn  btn-default" th:href="@{/empresas}">
						<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
					</a>
				</div>				
				
			</div>
		</div>

		<div class="container-fluid">

			<!-- <div class="alert  alert-danger  alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<i class="fa  fa-exclamation-circle"></i> Já existe um produto com o nome informado.
			</div> -->

<!--			<form method="POST" th:object="${empresa}" class="form-vertical  js-form-loading">
   -->
			
			<form class="form-horizontal" method="POST" action="/empresas" th:object="${empresa}">

				<div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}">Título salvo com sucesso!!!</span>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
					<div th:each="detailedError : ${#fields.detailedErrors()}">
						<span th:text="${detailedError.message}"></span>
					</div>
				</div>


				<div class="row">
<!--					<div class="col-sm-2  form-group">
						<label for="Id_Empresa">ID Empresa</label>
						<input id="Id_Empresa" type="text" class="form-control"/>
					</div>
-->					
					<div class="col-sm-10  form-group">
						<label for="Nome_Empresa">Nome Empresa</label>
						<input id="Nome_Empresa" type="text" class="form-control" th:field="*{Nome_Empresa}"/>
					</div>
				</div>
	
				<div class="col-sm-6 form-group">
					<label for="Fantasia_Empresa">Fantasia Empresa</label>
					<input id="Fantasia_Empresa" type="text" class="form-control"  th:field="*{Fantasia_Empresa}"/>
				</div>
				
				<div class="col-sm-3 form-group">
					<label for="CNPJ_Empresa">CNPJ</label>
					<input id="CNPJ_Empresa" type="text" class="form-control"  th:field="*{CNPJ_Empresa}"/>
				</div>
				
				<div class="col-sm-3 form-group">
					<label for="IE_Empresa">IE</label>
					<input id="IE_Empresa" type="text" class="form-control"  th:field="*{IE_Empresa}"/>
				</div>
				
				<div class="col-sm-3 form-group">
					<label for="Fone Empresa">Fone</label>
					<input id="Fone_Empresa" type="text" class="form-control"  th:field="*{Fone_Empresa}"/>
				</div>				

				<div class="col-sm-3 form-group">
					<label for="Fax Empresa">Fax</label>
					<input id="Fax_Empresa" type="text" class="form-control"  th:field="*{Fax_Empresa}"/>
				</div>				

				<div class="col-sm-3 form-group">
					<label for="Celular_001">Celular 001</label>
					<input id="Celular_001" type="text" class="form-control"  th:field="*{Celular_001}"/>
				</div>				

				<div class="col-sm-3 form-group">
					<label for="Celular_002">Celular 002</label>
					<input id="Celular_002" type="text" class="form-control"  th:field="*{Celular_002}"/>
				</div>				

				<div class="col-sm-6 form-group">
					<label for="Rua">Rua</label>
					<input id="Rua" type="text" class="form-control"  th:field="*{Rua}"/>
				</div>				

				<div class="col-sm-2 form-group">
					<label for="Numero">Numero</label>
					<input id="Numero" type="text" class="form-control"  th:field="*{Numero}"/>
				</div>	
		
				<div class="col-sm-2 form-group">
					<label for="Complemento">Complemento</label>
					<input id="Complemento" type="text" class="form-control"  th:field="*{Complemento}"/>
				</div>	
		
				<div class="col-sm-3 form-group">
					<label for="Cidade_Empresa">Cidade</label>
					<input id="Cidade_Empresa" type="text" class="form-control"  th:field="*{Cidade_Empresa}"/>
				</div>	
		
				<div class="col-sm-1 form-group">
					<label for="UF_Empresa">UF</label>
					<input id="UF_Empresa" type="text" class="form-control"  th:field="*{UF_Empresa}"/>
				</div>	
		
				<div class="col-sm-2 form-group">
					<label for="CEP">Cep</label>
					<input id="CEP" type="text" class="form-control"  th:field="*{CEP}"/>
				</div>	
	
				<div class="col-sm-6 form-group">
					<label for="Email_Empresa">Email</label>
					<input id="Email_Empresa" type="email" class="form-control"  th:field="*{Email_Empresa}"/>
				</div>	
		
				<div class="col-sm-12 form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div >
		
			</form>
		</div>
	</section>
	
	<footer class="aw-layout-footer  js-content">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; 2022 Ademilar. Todos os direitos reservados.</span>
		</div>
	</footer>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/vendors.min.js"></script>
<script src="/js/algaworks.min.js"></script>
</body>
</html>